<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../lib/sweetalert/dist/sweetalert.css">
<link rel="stylesheet" href="../css/album.css">
<link rel="stylesheet" href="../js/booklet/booklet/jquery.booklet.latest.css">
<script src="../js/jquery-2.2.0.js"></script>
<script src="../lib/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/booklet/booklet/jquery.easing.1.3.js"></script>
<script src="../js/booklet/booklet/jquery.booklet.latest.js"></script>
<script src="../js/booklet/booklet/jquery-ui-1.10.4.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/masonry.pkgd.js"></script>
<script src="../js/imagesloaded.3.1.8.min.js"></script>

<script>
	$(function(){
		var index = 0;
		var index2 = 0;
		var left = 0;
		var num = 0;
		$.post(
			contextRoot + "/chronicle/selectEvent.do",function(result){
				var result = result.ajaxResult;
				for(var i in result.data) {
					if(result.data[i].evEnd != '1000-01-01'){
						html="<div class='tap'>"+result.data[i].evStart+" <br/>~ <br/>" +result.data[i].evEnd 
						+ "<form id='tForm'>"
						+"<input type='hidden' name='evStart' value='"+result.data[i].evStart+"'>"
						+"<input type='hidden' name='evEnd' value='"+result.data[i].evEnd+"'>"
						+"</form>"
						+"</div>";
						
						bookHtml="<div class='date"+[i]+"' id='date'>"
						+"<h4>"+result.data[i].evTitle+"</h4>"
						+"<h6>"+result.data[i].evStart+" ~ "+result.data[i].evEnd+"</h6>"
						+ "<form id='bForm'>"
						+"<input type='hidden' name='evStart' value='"+result.data[i].evStart+"'>"
						+"<input type='hidden' name='evEnd' value='"+result.data[i].evEnd+"'>"
						+"</form>"
						+"<div id='opadiv' class='"+[i]+"'/>"
						+"<div id='image'/>"
						+"<div id='noimage'/>"
						+"</div>";
						
						$("#tab").append(html);
						
						init_masonry ();
						$("#book").append(bookHtml).masonry("appended", bookHtml, true);	
						$("#book").masonry('reloadItems');
						$("#book").masonry("layout");
					}
					$.post(
							contextRoot + "/chronicle/seletePicByEvent.do",
								{evStart: result.data[i].evStart,
								evEnd: result.data[i].evEnd},	
							function(result){
								var result = result.ajaxResult
								console.log(result.data);
								if(result.data[0]){
									for(var k in result.data) {
										var picFilePath = result.data[k].picFilePath.substring(0, result.data[k].picFilePath.lastIndexOf("."));
										picFilePath += "_mini.jpg";
										html="<img src='"+picFilePath+"'/>";
										$(".date"+index+"> #image").append(html);
										index2++;
										if(index2 == result.data.length){index++; index2 = 0;};
									}
								}else{
									html="<img src='../images/slide/014.gif'>";
									html+="<h3>사진이 없습니다</h3>";
									console.log(index);
									$(".date"+index+"> #noimage").append(html);
									index++;
								}
							},"json"
					);
					
				}
				if($("#tab").children().length > 10){
					$("#tabline").css({width:'89%'});
					$("#prev, #next").css({display:'inline-block'});
				}
			},"json"
		);
		$.getJSON(contextRoot + "/chronicle/list.do", function (result) {
			html="<img src='"+result.member.picMiniFilePath+"'>";
			$("#menu").prepend(html);
			$("#name").html(result.member.name + " 님");
			
		});
		$("#next").click(function(){
			if($("#tab").children().length-10 > num){
			 left += -10;
			$("#tab").css({left:''+left+'%'});
			num++;
			}else{
				swal({   title: "마지막 탭입니다.",   timer: 1000,   showConfirmButton: false, type: "warning" });
			}
		});
		$("#prev").click(function(){
			if(num != 0){
			 left += 10;
			$("#tab").css({left:''+left+'%'});
			num--;
			}else{
				swal({   title: "처음 탭입니다.",   timer: 1000,   showConfirmButton: false, type: "warning" });
			}
		});
// 		$("#book").click(function(event){
// 			location.href="album.html"
// 		})
		
		$("#tab").on('click',".tap", function(event) {
			var form = $(event.target).children()[2];
			var formData = new FormData(form);
			$.ajax({
				url:contextRoot + "/chronicle/seletePicByEvent.do",
				processData: false,
				contentType: false,
				data: formData,
				type: 'POST',
				success:function(result){
					var result = result.ajaxResult
					console.dir(result);
					var ac = result.data.length%4;
					if(ac != 0){ac = (result.data.length/4)+1}else{ac = result.data.length/4}
					var index=0;
					var count = result.data.length;
					console.log(ac);
					$("#book").empty();
					html="";
					for(var i=1; i <= ac; i++){
						html +="<div class='page'>";
						if(count < 4){
							for(var k =0; k < count; k++){
							html += "<div id='box"+k+"'><img src='"+result.data[index].picFilePath +"'></div>";
							index++;
							}
						}else{
							for(var j =0; j<4; j++){
							html += "<div id='box"+j+"'><img src='"+result.data[index].picFilePath +"'></div>";
							index++;
							}
							count = count - 4;
						html +="</div>";
					}
					}
					$("#book").append(html);
					$('#book').booklet({
						height: '85%',
				    	width: '86%',
				    	pagePadding: 10
				    });
				},dataType:"json"}
			);
			$("#tab div").css({background:'#CFF69B',color:'black'})
			$(event.target).css({color:'white',background:'maroon'})
		});
		
		$("#book").on('click',"#opadiv", function(event) {
			var form = ($(event.target).prev("form"));
			form.children("[name='evStart']").val();
			$.post(
				contextRoot + "/chronicle/seletePicByEvent.do",
				{evStart: form.children("[name='evStart']").val(),
				evEnd: form.children("[name='evEnd']").val()},function(result){
					var result = result.ajaxResult
					console.dir(result);
					var ac = result.data.length%4;
					if(ac != 0){ac = (result.data.length/4)+1}else{ac = result.data.length/4}
					var index=0;
					var count = result.data.length;
					console.log(ac);
					$("#book").empty();
					html="";
					for(var i=1; i <= ac; i++){
						html +="<div class='page'>";
						if(count < 4){
							for(var k =0; k < count; k++){
							html += "<div id='box"+k+"'><img src='"+result.data[index].picFilePath +"'></div>";
							index++;
							}
						}else{
							for(var j =0; j<4; j++){
							html += "<div id='box"+j+"'><img src='"+result.data[index].picFilePath +"'></div>";
							index++;
							}
							count = count - 4;
						html +="</div>";
						}
					}
					$("#book").unbind( 'click' );
					$("#book").append(html);
					$('#book').booklet({
				    	height: '85%',
				    	width: '86%',
				    	pagePadding: 10
				    });
					console.log($(event.target).attr('class'));
					$("#tab").children(":eq("+$(event.target).attr('class')+")").css({color:'white',background:'maroon'});
					
					if($(event.target).attr('class') > 9){
						left = ($(event.target).attr('class') - 9)*-10;
						console.log(left);
						$("#tab").css({left:''+left+'%'});
						num += $(event.target).attr('class') - 9;
					}
				},"json"
			);
		});
		$("#logOut").click(function() {
			swal({   title: "<span style='color:#FF0000'> 로그아웃 하시겠습니까? </span>",   
				text: "클릭시 로그아웃 됩니다.",   
				imageUrl: "../images/slide/balls.svg",
				confirmButtonColor:"#DD6B55",
				showCancelButton:true,
				closeOnConfirm:false,
				html:true
			},
		function(inConfirm) {
				
				if(inConfirm) {
					$.getJSON(
						contextRoot + "/chronicle/logout.do",
						function(result) {
							location.href="login.html";
						}
					)
					swal({   title: "로그 아웃",   
						text: "Faminicle을 이용해주셔서 감사합니다.",   
						imageUrl: "../images/slide/success.jpg" });
						
				}
			});
			return false;
		})
	});
	
	function init_masonry () {
		var $container = $("#book");
		
		$container.masonry({
			itemSelector: ".date",
			initLayout: false
		});
		$container.imagesLoaded(function () {
		});
	};
</script>
</head>
<body>
	<div id="header">
	<div id="prev">
		<img src="../images/left.png">	
	</div>
	<div id="tabline">
		<div id="tab"></div>
	</div>
	<div id="next">
		<img src="../images/right.png">	
	</div>
	</div>
	<div id="book">
	</div>
	<div id="menu">
		<span id="name"></span>
		<div id="home" onclick="location.href='main.html'">메인으로 </div>
		<div id="top" onclick="location.href='album.html'">처음으로 </div>
		<div id="slide" onclick="location.href='slide.html'">슬라이드 </div>
		<div id="regist" onclick="location.href='regist.html'">사진등록 </div>
		<div id="logOut">로그아웃</div>
		
	</div>
</body>
</html>